<!DOCTYPE html>
<html lang="en">
	<head>
		<title>404 Page Not Found</title>
		<style type="text/css">
			::selection{background-color: #2094CF;color: white; }
			::moz-selection{background-color: #2094CF;color: white; }
			::webkit-selection{background-color: #2094CF;color: white; }
			body{background-color:#f2f2f2;margin:40px;font-family:'Open sans',sans-serif}
			#container{margin:auto;text-align:center}
			h1{font-size:72px}
			h1,h2{font-weight:400}
			h2{color:#aaa}
			a{color:#08c;text-decoration:none}
		</style>
	</head>
	<body>
		<div id="container">
			<h1>404</h1>
			<h2>Page not found!</h2>
			<h2>Sorry, the page you were looking for was not found.</h2>
		</div>
	</body>
</html>
